.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f0f0f0;
}

div {
  text-align: center;
}
h2 {
  margin-bottom: 2rem;
  color: var(--grey-700);
  justify-content: center;
  align-items: center;
}

button {
  margin: 0 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: var(--primary-500);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
