.study-page {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  margin: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.back-btn {
  background-color: var(--primary-100);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.back-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid var(--primary-500);
}

p {
  padding: 0.5rem 0;
}
