.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.header-bar span {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-bar button.login-button {
  margin-left: 30vw;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.header-bar button.account-button {
  margin-left: 30vw;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .header-bar {
    padding: 10px 20rem;
  }
}
