.structured-learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.level-cards {
  display: table-row;
  width: 100%;
  height: auto;
}

.level-card {
  display: inline-block;
  margin: 1rem;
}
.level-btn {
  border: none;
  color: white;
  padding: 10vh 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.level-btn img {
  width: 100px;
  height: 100px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.level-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid var(--primary-500);
}

.topic-cards {
  display: table-row;
  width: 100%;
  height: auto;
}

.topic-card {
  display: inline-block;
  margin: 1rem;
}

.topic-btn {
  background-color: var(--primary-100);
  border: none;
  color: white;
  padding: 2vh 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.topic-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid var(--primary-500);
}
