.structured-learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

span {
  margin-right: 0.5rem;
  align-items: center;
  justify-content: center;
}
